// C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive\game\csgo\cfg
// go into steam launch options > +exec autoexec.cfg
// autostart: +autoexec.cfg -high -nojoy -novid -USEALLAVAILABLECORES LD_PRELOAD="" gamemoderun
// sens: 0.5 ~ 0.7 (0.625) / 1600 DPI


# ==========================
# VIEWMODEL
# ==========================

viewmodel_fov 68
viewmodel_offset_x 2.5
viewmodel_offset_y 0
viewmodel_offset_z -2.0

# ==========================
# QuickSwitch
# ==========================

alias +qsw "slot3";alias -qsw "lastinv"; bind CTRL +qsw


# ==========================
# GRAPHICS
# ==========================

fps_max "177"
fps_max_ui "100"
thread_pool_option "2"
engine_low_latency_sleep_after_client_tick "1"

# ==========================
# NETWORK
# ==========================

//cl_net_buffer_ticks "2"
//cl_net_buffer_ticks_use_interp "1"
//cl_tickpacket_desired_queuelength "0"

# ==========================
# TWEAKS
# ==========================

cl_radar_scale 0.3
cl_radar_always_centered 0
r_show_build_info 0
cl_autohelp 0

host_writeconfig
